<h1>Listing comments</h1>

<div ng-controller="PostsController">
  <form ng-submit="addPost()">
    <input type="text" ng-model="newPost.title">
    <input type="text" ng-model="newPost.body">
    <input type="submit" value="Add">
  </form>
  <ul>
    <li ng-repeat="post in posts">
        {{post.title}}
      <div>
        {{post.body}}
      </div>
    </li>
  </ul>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>User</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.title %></td>
    <td><%= comment.body %></td>
    <td><%= comment.user %></td>
    <td><%= comment.post %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
