<!DOCTYPE html>
<html ng-app="Fayang">
<head>
  <title>Fayang</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><%= link_to 'Sign in', '/current_user/310c2c945d61b85d1ee23d3230c7444db134a8a7/sign_in' %></p>

<%= yield %>

</body>
</html>
